{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="{% static 'core/bootstrap-5.0.2/dist/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>Cursos - Categorias</title>
    </head>
    <body>
        <div class="container">
            <h1>Formulario categoria:</h1>
            <form class="row g-3" action="{% url 'categoria' %}" method="post">
                {% csrf_token %}
                {% if error_message %}
                <p class="error">{{ error_message }}</p>
                {% endif %}
                <div class="col-12">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="" maxlength="100">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
            <div class="row">
                <h1>Categorias:</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for categoria in categorias %}
                            <tr>
                                <td>{{ categoria.nombre }}</td>
                                <td>{{ categoria.created }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
        <script src="{% static 'core/bootstrap-5.0.2/dist/js/bootstrap.bundle.min.js' %}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>

